@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.navbar-brand{
  font-size : 1.9rem !important;
  color : #565387 !important;
}

.navbar a{
  font-size: 1.3 rem;
  text-transform: capitalize;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387 ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Data{
  image-resolution: inherit;
  
}
.products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.products img{
  width: 100%;
}

.product{
  padding: 40px;
}

.NavLink{
  
  text-justify: auto;
}

section{
  box-shadow: 0 0 5px #ccc;
  padding: 15px 10px;
}
 
.app{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

